@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;Playfair+Display:wght@600;Montserrat:wght@600;700&family=Indie+Flower&family=Raleway:wght@400;600&family=Satisfy&display=swap");
@import url(a:\FE Advanced\ampli-adv-fe-05-zen_garden\SASS\style.css);
@import url(a:\FE Advanced\ampli-adv-fe-05-zen_garden\SASS\style.css);
header {
  background: black;
  background: linear-gradient(225deg, black 0%, white 100%);
  color: #000000;
  border-radius: 10px 10px 0px 0px;
  height: 300px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  padding: 20px 0px 10px 20px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  padding: 10px 0px 20px 20px;
}

.summary {
  background: black;
  background: linear-gradient(315deg, black 0%, white 100%);
  color: #000000;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  height: 300px;
}

.summary a {
  color: #000000;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  font-weight: 600;
}

.summary a:before, .summary a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
}

.summary a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.summary a:after {
  opacity: 0;
  -webkit-transform: translateY(8px/2);
          transform: translateY(8px/2);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.summary a:hover:before, .summary a:hover:after, .summary a:focus:before, .summary a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.summary a:hover:before, .summary a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.summary a:hover:after, .summary a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.summary p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.summary a:link {
  color: black;
}

.preamble {
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
  border-radius: 30px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 50px;
  font-size: 20px;
}

.explanation {
  text-align: end;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  border-radius: 30px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 50px;
  font-size: 20px;
}

.participation {
  background-color: #ffeaa7;
  background-image: linear-gradient(315deg, #000000 0%, #ffeaa7 74%);
  border-radius: 30px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  margin-top: 50px;
  font-size: 20px;
}

.participation a {
  color: #000000;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  font-weight: 600;
}

.participation a:before, .participation a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
}

.participation a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.participation a:after {
  opacity: 0;
  -webkit-transform: translateY(8px/2);
          transform: translateY(8px/2);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.participation a:hover:before, .participation a:hover:after, .participation a:focus:before, .participation a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.participation a:hover:before, .participation a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.participation a:hover:after, .participation a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.benefits {
  text-align: end;
  background-color: #000000;
  background-image: linear-gradient(315deg, #b82e1f 0%, #000000 100%);
  border-radius: 30px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 50px;
  font-size: 20px;
}

.requirements {
  background: #a55c1b;
  background: -webkit-gradient(linear, left top, left bottom, from(#a55c1b), to(black));
  background: linear-gradient(180deg, #a55c1b 0%, black 100%);
  color: #000000;
  border-radius: 30px 30px 0px 0px;
  padding: 20px 20px 100px 20px;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.requirements a {
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  font-weight: 600;
}

.requirements a:before, .requirements a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
}

.requirements a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.requirements a:after {
  opacity: 0;
  -webkit-transform: translateY(8px/2);
          transform: translateY(8px/2);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.requirements a:hover:before, .requirements a:hover:after, .requirements a:focus:before, .requirements a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.requirements a:hover:before, .requirements a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.requirements a:hover:after, .requirements a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}

footer a {
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  font-weight: 600;
}

footer a:before, footer a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
}

footer a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer a:after {
  opacity: 0;
  -webkit-transform: translateY(8px/2);
          transform: translateY(8px/2);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer a:hover:before, footer a:hover:after, footer a:focus:before, footer a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

footer a:hover:before, footer a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer a:hover:after, footer a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar {
  background: #2d3436;
  background: -webkit-gradient(linear, left bottom, left top, from(#2d3436), to(black));
  background: linear-gradient(0deg, #2d3436 0%, black 100%);
  border-radius: 0px 0px 30px 30px;
  font-family: "Playfair Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  font-weight: 600;
}

.sidebar a:before, .sidebar a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
}

.sidebar a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar a:after {
  opacity: 0;
  -webkit-transform: translateY(8px/2);
          transform: translateY(8px/2);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar a:hover:before, .sidebar a:hover:after, .sidebar a:focus:before, .sidebar a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sidebar a:hover:before, .sidebar a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar a:hover:after, .sidebar a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font: 75% georgia, sans-serif;
  line-height: 1.88889;
  color: #555753;
  background: black no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 980px;
  margin: 0 auto;
}
